<h2><%= t("forms.resend_confirmation") %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email, t("forms.email") %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %></p>
  </div>

  <div class="actions">
    <%= f.submit t("forms.resend_confirmation") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
